@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: theme('colors.blue.700');
  --text-1: theme('colors.slate.800');
  --text-2: theme('colors.slate.700');
  --text-3: theme('colors.slate.600');
  --text-4: theme('colors.slate.500');
  --surface: theme('colors.white');
  --surface-1: theme('colors.slate.50');
  --surface-2: theme('colors.slate.100');
  --surface-3: theme('colors.slate.200');
  --surface-4: theme('colors.slate.300');

  --font-remote: var(--font-remote-sans);
}

@layer utilities {
  @keyframes hello {
    50% {
      transform: translateY(-25%) rotateZ(15deg);
    }
  }

  @keyframes breath {
    to {
      scale: 0.8;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  .filter-noise {
    filter: var(--noise-3);
  }

  .animation-hello {
    animation: hello 3s infinite;
    animation-timing-function: var(--ease-in-out-3);
  }

  .animation-fade-in {
    animation: var(--animation-fade-in) forwards;
  }

  .animation-fade-out {
    animation: var(--animation-fade-out) forwards;
  }

  .animation-breath {
    animation: breath ease 2s alternate infinite;
  }
}

.shiki {
  .line {
    display: block;
  }
}
