@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: theme('colors.orange.600');
  --text-1: theme('colors.slate.800');
  --text-2: theme('colors.slate.700');
  --text-3: theme('colors.slate.600');
  --text-4: theme('colors.slate.500');
  --surface: theme('colors.white');
  --surface-1: theme('colors.slate.50');
  --surface-2: theme('colors.slate.100');
  --surface-3: theme('colors.slate.200');
  --surface-4: theme('colors.slate.300');

  --spring-easing: linear(
    0,
    0.001,
    0.005 1%,
    0.02,
    0.045,
    0.081 4.7%,
    0.159 7.1%,
    0.367 12.8%,
    0.467 15.7%,
    0.563,
    0.645,
    0.717,
    0.778 28.5%,
    0.805,
    0.829 32%,
    0.852,
    0.872 35.8%,
    0.892,
    0.909,
    0.925 42.4%,
    0.938,
    0.95 47.5%,
    0.961 50.3%,
    0.969 53.3%,
    0.977 56.5%,
    0.987 63.6%,
    0.994 72.3%,
    0.998 83.5%,
    1
  );

  --font-remote: var(--font-remote-sans);
}

@layer utilities {
  @keyframes hello {
    50% {
      transform: translateY(-25%) rotateZ(15deg);
    }
  }

  @keyframes breath {
    to {
      scale: 0.8;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  .filter-noise {
    filter: var(--noise-3);
  }

  .animation-hello {
    animation: hello 3s infinite;
    animation-timing-function: var(--ease-in-out-3);
  }

  .animation-fade-in {
    animation: var(--animation-fade-in) forwards;
  }

  .animation-fade-out {
    animation: var(--animation-fade-out) forwards;
  }

  .animation-breath {
    animation: breath ease 2s alternate infinite;
  }
}

.shiki {
  .line {
    display: block;
  }
}
